body{
    /* Ici on utilise le sélecteur body pour appliquer une police et une taille par défaut pour les éléments */
    background-color: #1F2039 ;
    font-family: 'Manrope' , sans-serif;
    font-size: 1em;
    

}
h1{
    color:  #a5b4fc;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5em;
    text-align: center;
}
#logo{
    width: 100px;
    height: auto;
}
p,
li {
  font-size: 1.1em;
  color: #f9f8ff;
}
em{
   color: #a5b4fc;
   font-style: normal;    
}
a{
    color: #242424 ;
    text-decoration: none;
    
}
a:hover{
    text-decoration: underline;
}
.clslien:hover{
    background:linear-gradient(#696484, #8788ba);
    text-decoration: none;
}

.entete,
.pieddepage{
    background-color:  white ; 
}


h2{
    
    color: F9F8FF  ;
    
}
.clslien{
    background: linear-gradient(#8e86b5, #acaeed);
    color: white;
    border-radius: 50px;
}
.clsapropos{
    border-right: 5px solid #8e86b5; 
    border-bottom: 5px solid  #8e86b5;
    

}
.lienlogo:hover{
    opacity: 0.5;
}